go 1.25.0

use (
	./gateway
	./services/auth-service
	./services/championship-service
	./services/ingestion-service
	./services/race-data-service
	./services/user-data-service
	./shared/apierror
	./shared/bootstrap
)
