HTTP_PORT=3000
APP_VERSION=dev
GATEWAY_AUTH_TOKEN=admin
GATEWAY_RATE_LIMIT_RPS=10
GATEWAY_RATE_LIMIT_BURST=20
AUTH_SERVICE_URLS=http://localhost:3001
USER_DATA_SERVICE_URLS=http://localhost:3002
CHAMPIONSHIP_SERVICE_URLS=http://localhost:3003
RACE_DATA_SERVICE_URLS=http://localhost:3004
INGESTION_SERVICE_URLS=http://localhost:3005
