HTTP_PORT=3005
APP_VERSION=dev
OPENF1_BASE_URL=https://api.openf1.org/v1
OPENF1_TIMEOUT=10s
OPENF1_RETRIES=2
OPENF1_RETRY_DELAY=800ms
RACE_DATA_SERVICE_URL=http://localhost:3004
CHAMPIONSHIP_SERVICE_URL=http://localhost:3003
